.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 77%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 67%
    right: 43%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 7%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-sm)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

//////////Background_Color///////////
.bg-color
  &-1
    background-color: #D3F8F6
  &-2
    background-color: #E9E6EF
  &-3
    color: #251049 !important
  &-4
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 250, 228, 1) 40%, rgba(232, 251, 250, 1) 60%, rgba(255, 255, 255, 1) 100%)
  &-5
    background-color: #E8FBFA
  &-6
    background-color: #FEF09B
  &-white
    background-color: white !important
    border: 1px solid $lightest-gray
  &-secundario
    background-color: $color-secundario !important
  &-sintesis
    background-color: #F6F6F6

///////Full Width Background///////////////////
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
  @media screen and (max-width: $bp-max-sm)
    padding-left: 1.5rem
    padding-right: 1.5rem
.bg-full-width-2
  background-size: contain
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
  @media screen and (max-width: $bp-max-sm)
    padding-left: 1.5rem
    padding-right: 1.5rem

///////////////fondos/////////////////
.bg-fondo
  &-1
    background-image: url("../assets/curso/bg1.svg") !important
    background-position: top
  &-2
    // background-image: url("../assets/bg/bg2.png") !important
    background-position: bottom
  &-slider
    background-image: url("../assets/curso/bg-slider.png") !important
    background-position: bottom

//////////////CUSTON SLYDER-A////////
.slyder-a__bullets__item 
  background-color: #FAEDA5
  border: #FAEDA5
.slyder-a__bullets__item--active
  background-color: #FFD907
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: #FF8900

//CLASES TITULOS//
.titulo-con-imagen
  display: flex
  align-items: center
  position: relative
.titulo-con-imagen__fondo
  background-color: #FFD907
  border-radius: 30px
  padding: 10px 20px
  display: inline-flex
  align-items: center
.titulo-con-imagen__imagen
  position: absolute
  left: 0
  width: 60px
.titulo-con-imagen__texto
  margin: 0
  padding-left: 50px

/////////////ACORDION/////////////
.acordion__accion__btn--a
  background-color: #FF8900 !important
  color: $color-sistema-texto 
.acordion__activo
  background-color: #A8F1ED!important
.acordion_titulo
  color: $color-sistema-texto  !important
.acordion__titulo 
  h3
    color: $color-sistema-texto  !important
.acordion__activo
  .acordion__titulo 
    h3
      color: $color-sistema-texto !important

.linea-tiempo-e__item__header:before
  top: 10px